body {
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}

.message-container {
  position: relative;
  width: 60%;
  margin: 20px auto;
  padding: 5px 20px 20px;
  color: #1c2022;
  text-align: left;
  box-shadow: 3px 3px 15px #ccc;
  border: 1px solid #eee;
  border-radius: 5px;
}
